<template>
  <div class="locations-table-container">
		<div class="grid-x align-right">
			<div @click="newLocation" class="button">New</div>
		</div>
		<table class="hover stack">
			<thead>
				<tr>
					<th width="150">Site ID</th>
					<th>Name</th>
					<th width="150">Vehicles</th>
					<th width="150">City</th>
					<th width="150">State</th>
					<th width="200">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="location in locations" :key="location.siteId">
					<td>{{ location.siteId }}</td>
					<td>{{ location.name }}</td>
					<td>{{ location.vehicleCount }}</td>
					<td>{{ location.city }}</td>
					<td>{{ location.stateCode }}</td>
					<td>Edit Vehicles Delete</td>
				</tr>
			</tbody>
		</table>
  </div>
</template>

<script>
export default {
  props: ['locations'],
  methods: {
    newLocation () {
      this.$router.push('locations/new')
    }
  }
}
</script>

<style lang="sass" scoped>
hr
  margin: 8px 0
</style>
