<template>
  <div class="fleet-container large-offset-1 large-10 cell">
    <ul class="tabs" data-tabs id="fleet-tabs">
			<li class="tabs-title is-active"><a href="#locations-panel" aria-selected="true">Locations</a></li>
			<li class="tabs-title"><a data-tabs-target="reports-panel" href="#reports-panel">Reports</a></li>
		</ul>
		<div class="tabs-content" data-tabs-content="fleet-tabs">
			<div class="tabs-panel is-active" id="locations-panel">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li><a href="locations">locations</a></li>
          </ul>
          <hr>
        </nav>
        <!-- <location-table :locations="locations" /> -->
				<router-view :locations="locations" />
			</div>
			<div class="tabs-panel" id="reports-panel">
				<p>Reports Panel</p>
			</div>
		</div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import LocationTable from './locations/LocationsTable'

export default {
  methods: {
    ...mapActions([
      'fetchLocations'
    ])
  },
  computed: {
    ...mapGetters([
      'locations'
    ])
  },
  mounted () {
    this.tabs = new Foundation.Tabs($('#fleet-tabs'), {})

    this.fetchLocations()
  },
  destroyed () {
    this.tabs.destroy()
  },
  components: {
    locationTable: LocationTable
  }
}
</script>

<style lang="sass" scoped>
hr
  margin: 8px 0
</style>
