<template>
  <div class="admin-container large-offset-1 large-10 cell">
    <ul class="tabs" data-tabs id="admin-tabs">
			<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Users</a></li>
			<li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Branding</a></li>
		</ul>
		<div class="tabs-content" data-tabs-content="admin-tabs">
			<div class="tabs-panel is-active" id="panel1">
				<p>Admin Users Panel</p>
			</div>
			<div class="tabs-panel" id="panel2">
				<p>Admin Branding Panel</p>
			</div>
		</div>
  </div>
</template>

<script>
export default {
  mounted () {
    this.tabs = new Foundation.Tabs($('#admin-tabs'), {})
  },
  destroyed () {
    this.tabs.destroy()
  }
}
</script>
