.top-bar
  min-height: 60px
  a, i
    cursor: pointer
    color: $topbar-link-color
    font-size: 1.1rem
    padding: 1.2rem 1.3rem

  .underline_from_center 
    position: relative

  .underline_from_center::after 
    content: ""
    position: absolute
    top: calc( 100% - .125rem )
    border-bottom: .125rem solid #fefefe
    left: 50%
    right: 50%
    transition: all .5s

  .underline_from_center:hover::after 
    left: 0
    right: 0
    transition: all .5s

