<template>
  <div class="top-bar">
    <div class="top-bar-left">
      <router-link class="menu-text" to="/">AutoRenter</router-link>
    </div>
    <div class="top-bar-right">
      <router-link class="underline_from_center" to="/admin">Admin</router-link>
      <router-link class="underline_from_center" to="/fleet/locations">Fleet</router-link>
      <router-link class="underline_from_center" to="/tech-support">Tech Support</router-link>
      <a href="#" class="underline_from_center" @click.prevent="logout">Logout</a>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  methods: {
    ...mapActions([
      'logout'
    ]),
    logout () {
      this.logout()
        .then(() => {
          this.$router.push('/login')
        })
    }
  }
}
</script>
