<template>
  <div class="top-bar">
    <div class="top-bar-left">
      <router-link class="menu-text" to="/">AutoRenter</router-link>
    </div>
    <div class="top-bar-right">
      <router-link class="underline_from_center" to="/login">Login</router-link>
    </div>
  </div>
</template>
