<template>
  <!--notification-container     notification alert-success notify-me -->
	<div class="tech-support-container large-offset-2 large-8 cell">
    <h2>Tech Support</h2>
    <p><strong>Notify</strong>
    <div class="button-group">
      <button @click="showError" type="button" class="alert button">Error</button>
      <button @click="showWarning" type="button" class="warning button">Warning</button>
      <button @click="showInfo" type="button" class="info button">Info</button>
      <button @click="showSuccess" type="button" class="success button">Success</button>
    </div>
    <p><strong>Test Exception</strong></p>
    <div class="button-group">
      <button @click="showError" type="button" class="alert button">Throw Exception</button>
    </div>
    <p><strong>Server Error</strong></p>
    <div class="button-group">
      <button @click="showError" type="button" class="alert button">HTTP Error</button>
    </div>
		<notify-me
			container="notification"
			status="alert-success"
			close="bulma"
			:event-bus="bus"
		>
				<template slot="content" slot-scope="{data}">
						<div style="width: 100%; word-break: break-all; text-align: left">
								<h4><b>{{data.title}}</b></h4>
								<p style="margin: 0">{{data.text}}</p>
						</div>
				</template>
		</notify-me>
  </div>
</template>

<script>
import Vue from 'vue'
import Notify from 'vue-notify-me'
const bus = new Vue()

export default {
  data () {
    return {
      bus
    }
  },
  methods: {
    showSuccess () {
      this.bus.$emit('notify-me', {
        data: {
          title: 'Success!',
          text: 'Successful something...'
        }
      })
    },
    showInfo () {
      this.bus.$emit('notify-me', {
        data: {
          title: 'Info!',
          text: 'Info about something...'
        }
      })
    },
    showWarning () {
      this.bus.$emit('notify-me', {
        data: {
          title: 'Warning!',
          text: 'Warning here...'
        }
      })
    },
    showError () {
      this.bus.$emit('notify-me', {
        data: {
          title: 'Error!',
          text: 'Some error...'
        }
      })
    }
  },
  components: {
    'notify-me': Notify
  }
}
</script>
