<template>
  <div id="app">
    
    <top-nav-auth v-if="user" />
    <top-nav v-else />

		<div class="grid-x grid-margin-x">
			<router-view />
		</div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import TopNav from './components/common/TopNav'
import TopNavAuth from './components/common/TopNavAuth'

export default {
  name: 'app',
  computed: {
    ...mapGetters([
      'user'
    ])
  },
  mounted () {
    console.log(this.user)
  },
  components: {
    TopNav,
    TopNavAuth
  }
}
</script>

<style lang="sass">
  @import './assets/sass/index'
</style>

