<template>
  <div class="login-container large-offset-4 large-4">
    <form class="log-in-form">
      <h4 class="text-center">Log in</h4>
      <label>Username
        <input ref="username" type="text" placeholder="">
      </label>
      <label>Password
        <input ref="password" type="password" placeholder="">
      </label>
      <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
      <p><input type="submit" class="button expanded" value="Log in" @click.prevent="onSubmit"></input></p>
      <p class="text-center"><a href="#">Forgot your password?</a></p>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  methods: {
    ...mapActions([
      'login'
    ]),
    onSubmit () {
      var { username, password } = this.$refs

      this.login({ username: username.value, password: password.value })
        .then(() => {
          this.$router.push('/fleet/locations')
        })
    }
  }
}
</script>

